body{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    box-shadow: 2px 2px 40px ;
    border-radius: 20px;
    width: 600px;
}
#resultContainer, #actualResult,#details,.detailsContainer, #container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    
  
}
#detailsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#resultContainer{
    width: 300px; 
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    
}
#actualResult{
 background: linear-gradient(to bottom,rgb(119, 26, 206),rgb(119, 26, 206,0))  ;
 width: 30%;
 border-radius: 100%;
 margin: 2px;
 padding: 5px;
}

.title{
    font-size: 24px ;
    margin-bottom: 5px;   
}
.desc{
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
}
#score{
    margin-bottom: 0px;
}
.detailsContainer{
    border-radius: 20px;   
   
}
#reaction, #memory, #verbal, #visual {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    margin-bottom: 2px;
    border-radius: 7px;
    margin-left: 10px;  
    align-items: center;
}
.reactionTitle,.memoryTitle,.verbalTitle,.visualTitle{
    margin-right: 80px;
    margin-left: 10px;
    font-weight: 900;
   
}

.reactionTitle{
    color: rgb(238, 26, 26);
}
.memoryTitle{
    color: rgb(95, 95, 33);
}
.verbalTitle{
    color: green;
}
.visualTitle{
    color: blue;
}
#reaction{
    background-color: rgb(247, 233, 236);
    margin-left: 10px;    
}
#memory{
    background-color: rgb(243, 234, 235);     
}
#verbal{
    background-color: rgb(207, 243, 241);     
}
#visual{
    background-color: rgb(209, 211, 238);     
}

button{
    margin-left: 55px;
    margin-top: 4px;
    background-color: rgb(94, 93, 93);
    border: hidden;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: 70%;
    
}

#percent{
   
}